<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    {{title}}
  </button>

  <button mat-button routerLink="/addCompartment">
    <mat-icon>add</mat-icon>
    Ajouter un casier
  </button>

  <button mat-button routerLink="/addBottle">
    <mat-icon>add</mat-icon>
    Ajouter une bouteille
  </button>

  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button (click)="userService.logout()" mat-button>Logout</button>
  </div>
</mat-toolbar>
