<app-header></app-header>

<div class="example-container">
  <mat-form-field>
    <mat-select [(ngModel)]="bt" placeholder="Type">
      <mat-option *ngFor="let bottleType of bottleTypes" [value]="bottleType">{{ bottleType.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="colour" matInput placeholder="Colour">
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="region"  matInput placeholder="Region">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="cp" placeholder="Compartment">
      <mat-option *ngFor="let compartment of compartments" [value]="compartment">{{ compartment.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="date" placeholder="Date">
      <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="number" matInput placeholder="Number">
  </mat-form-field>

  <button (click)="addBottle()" mat-button>Add</button>
</div>
