<app-header></app-header>

<mat-grid-list cols="5" rowHeight="250px">
  <mat-grid-tile
    [@enterAnimation]="bottleTypes.length"
    *ngFor="let bottleType of bottleTypes"
    [colspan]="1"
    [rowspan]="1">

    <mat-grid-tile-header>
      <h4>{{ bottleType.name }} -  {{ bottleType.date }} - {{ bottleType.colour }}</h4>
      <span class="fill-remaining-space"></span>
    </mat-grid-tile-header>

    <div class="mat-grid-tile-body" [ngClass]="bottleType.valide ? 'valide' : 'no-valide'"></div>

    <mat-grid-tile-footer>
      <mat-icon class="edit" (click)="edit(bottleType)">edit</mat-icon>
      <span class="full-fill-remaining-space"></span>
      <mat-icon (click)="delete(bottleType)">delete</mat-icon>
    </mat-grid-tile-footer>

  </mat-grid-tile>

</mat-grid-list>
