<h2 mat-dialog-title>Edit</h2>

<mat-dialog-content>

  <mat-form-field>
    <input [(ngModel)]="dataCopy.name" matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Region" aria-label="Region" [matAutocomplete]="auto" [(ngModel)]="dataCopy.region">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let region of regionList" [value]="region">
        <span>{{region}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="dataCopy.colour" matInput placeholder="Colour">
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="dataCopy.date" placeholder="Date">
      <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox [disabled]="data.valide" [(ngModel)]="dataCopy.valide">Valide</mat-checkbox>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="save()" mat-dialog-close class="save">Save</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true" class="cancel">Cancel</button>
</mat-dialog-actions>

