<app-header></app-header>

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="region">
      <mat-header-cell *matHeaderCellDef> Region </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.region}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="colour">
      <mat-header-cell *matHeaderCellDef> Colour </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.colour}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="compartment">
      <mat-header-cell *matHeaderCellDef> Compartment </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.compartment.name}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nbBottles}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="photo">
      <mat-header-cell *matHeaderCellDef> Photo </mat-header-cell>
      <mat-cell *matCellDef="let element"> <img *ngIf="element.photoUrl != null" src="{{ element.photoUrl }}"> </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="actionsColumn">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-icon (click)="edit(row)" class="edit">edit</mat-icon>
        <mat-icon (click)="delete(row)">delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
